/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #07c4f3;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  margin-top: 20px;
  color: #555;
}

#current-weather p {
  font-size: 1.2em;
  margin: 10px 0;
}

#search-section {
  margin-top: 20px;
  text-align: center;
}

#search-input {
  padding: 10px;
  width: calc(100% - 22px);
  margin-bottom: 10px;
}

#search-button, #location-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

#search-button:hover, #location-button:hover {
  background-color: #0056b3;
}

#location-name {
  text-align: center;
  font-size: 1.2em;
  margin: 10px 0;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: center;
}

thead {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

#daily-forecast {
  margin-top: 20px;
}

#daily-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#daily-list li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
}

#daily-list h3 {
  margin: 0;
  color: #333;
}

#daily-list p {
  margin: 5px 0;
}
